* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body {
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.main {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header {
  display: flex;
  justify-content: center;
}
.header > img {
  width: 150px;
  margin-bottom: 1rem;
}

.girl {
  border-radius: 1rem;
  display: inline;
  margin: 0 1rem 1rem 0;
  float: left;
}

.sub h3 {
  font-family: "Audiowide", cursive;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 8px;
}
.sub p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.icons {
  display: flex;
  gap: 1rem;
  text-align: right;
  margin-top: 2rem;
  justify-content: center;
}

.footer {
  color: rgb(197, 194, 194);
  text-align: center;
  font-size: 12px;
  margin-top: 3rem;
}
.footer p {
  text-align: center;
  text-transform: uppercase;
}
